@page "/dashboard"
@inject IUserManagmentService UserManagmentService
@inject NavigationManager NavigationManager
@inject IAlertService AlertService
 <LoggedNav></LoggedNav>
<h3>Dashboard</h3>

@code {

}
