@page "/"
@inject ILocalStorageService LocalStorageService
@inject IUserManagmentService UserManagmentService
<UnloggedNav></UnloggedNav>
<h1>Hello, world!</h1>

    Welcome to your new app.

@code{
    protected override async void OnInitialized()
    {
        if (await LocalStorageService.GetItem<Models.StorageUserModel>("user") != null)
        {
            await UserManagmentService.Logout();
        }
    }
}