<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <NavLink class="navbar-brand" href="/">Aplikacja bankowa</NavLink>
    <ul class="navbar-nav mr-auto">
    </ul>
    <ul class="navbar-nav">
        <NavLink class="nav-link" href="login" role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-sign-in-alt"></i> Logowanie
        </NavLink>
    </ul>
</nav>
<Alert />
